#authoring-env-container {
  padding: 24px;
  width: 800px;
  background-color: white;
}
#authoring-env-container h2:before {
  border-top: none;
}
#authoring-env-container .help {
  white-space: pre-wrap;
}
#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
#footer-container #footer-fields .footer-field-tag {
  width: 120px;
}
#footer-container #footer-fields #when-to-survey-field {
  width: 80%;
}
#footer-container #footer-fields #extra-repondent-data-field {
  width: 80%;
}
#footer-container #footer-buttons {
  display: flex;
  align-items: flex-end;
}
#footer-container #footer-buttons .footer-button {
  margin: 0 2px;
  border: 1px solid black;
}
#header-bar {
  margin-bottom: 20px;
}
#header-bar #entry-points .entry-point {
  width: 50%;
  cursor: pointer;
}
#header-bar #entry-points .entry-point:hover {
  background-color: #e6e6e6;
}
#header-bar #entry-points .selected {
  background-color: lightskyblue;
}
#header-bar #entry-points .selected:hover {
  background-color: #56baf8;
}
#add-question-buttons-container {
  display: flex;
  flex-direction: row;
}
#add-question-buttons-container .add-question-button {
  margin: 0 2px;
  white-space: normal;
  line-height: 12px;
  width: 200px;
  border: 1px solid black;
}
#add-question-buttons-container .add-question-button .add-button-title {
  margin: 0;
}
.entrypoint {
  width: 37%;
}
.name-container {
  margin-bottom: 10px;
}
.name-container #name-label {
  font-size: large;
  font-weight: 800;
}
.name-container #name-field {
  font-size: large;
  font-weight: 600;
}
