.default,
.default-container,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-tags-container .displayrsurvey-rating-tag,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container .displayrsurvey-rating-option,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container .displayrsurvey-finished,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-tags-container,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container {
  font-family: CircularStd;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  z-index: 100;
}
.default-container,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-tags-container,
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container {
  background-color: white;
  box-sizing: border-box;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container {
  display: flex;
  flex-direction: column;
  width: min-content;
  max-width: 100%;
  align-self: center;
  height: 220px;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-tags-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-top: 55px;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-tags-container .displayrsurvey-rating-tag {
  max-width: 5rem;
  color: #303A3F;
  cursor: default;
  font-size: 14px;
  font-weight: 550;
  margin: 0;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-tags-container #displayrsurvey-max-tag {
  text-align: right;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container .displayrsurvey-rating-option {
  height: 36px;
  width: 36px;
  border-radius: 36px;
  border: none;
  margin: 0px 4px;
  padding: 0;
  background-color: #F2F4FA;
  color: #303A3F;
  font-size: 14px;
  font-weight: 550;
  line-height: 18px;
  -webkit-appearance: none;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container .displayrsurvey-rating-option:hover {
  background-color: #E4E6EC;
  cursor: pointer;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container .displayrsurvey-rating-option:focus {
  outline: none;
}
#displayrsurvey-app-container #displayrsurvey-survey-container #displayrsurvey-question-container #displayrsurvey-rating-response-container #displayrsurvey-rating-container .displayrsurvey-finished {
  background-color: black !important;
}
