.default,
.default-container,
#displayrsurvey-end-container #displayrsurvey-close-button,
#displayrsurvey-end-container {
  font-family: CircularStd;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  z-index: 100;
}
.default-container,
#displayrsurvey-end-container {
  background-color: white;
  box-sizing: border-box;
}
#displayrsurvey-end-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  height: 408px;
  width: 480px;
  position: absolute;
  box-shadow: 1px 2px 13px 0 rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  background-color: white;
  bottom: 5vh;
  right: 5vw;
  padding: 60px;
  padding-bottom: 50px;
}
#displayrsurvey-end-container #displayrsurvey-logo {
  width: 54px;
  height: 54px;
  border-radius: 54px;
  align-self: center;
}
#displayrsurvey-end-container #displayrsurvey-end-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  color: #303A3F;
}
#displayrsurvey-end-container #displayrsurvey-end-message {
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #303A3F;
  margin-bottom: 62px;
}
#displayrsurvey-end-container #displayrsurvey-close-button {
  width: 95px;
  height: 40px;
  align-self: center;
  background-color: #303A3F;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 10px 30px;
  -webkit-appearance: none;
}
#displayrsurvey-end-container #displayrsurvey-close-button:hover {
  background-color: #1a1f22;
  cursor: pointer;
}
#displayrsurvey-end-container #displayrsurvey-close-button:focus {
  outline: none;
}
